<%- include('navbar.ejs') %>
    <div class="container">
        <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                <div class="card z-index-0">
                    <div class="card-header text-center pt-4">
                        <h5>New Password</h5>
                        <p><small> Enter your new password</small></p>
                    </div>

                    <div class="card-body">
                        <form role="form" action="/new_pass" method="post">
                            <div class="mb-3">

                                <input type="hidden" name="email" value="<%= email %>">
                                <input type="password" class="form-control" placeholder="Password" name="password"
                                    aria-label="Password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">New password</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>